.list-inline {
    padding-left: 0!important;
    list-style: none!important;
}
.list-inline-item:not(:last-child) {
    margin-right: .5rem!important;
}
.list-inline-item {
    display: inline-block!important;
}
.socialicon{
	width:35px;
	transform: translateY(7px);
}
